@model AnswerViewModel

@{
    ViewData["Title"] = "Добавяне на отговор към въпрос";
}

<div class="home-container-column">
    <div class="row mt-4">
        <h2 class="mt-4 text-center">Добавяне на отговор</h2>
        <div class="col-md-12 p-3">
            <form class="row g-3 mt-4" id="editForm" asp-controller="Answer" asp-action="Add" method="post">
                <input type="hidden" asp-for="QuestionId" />
                <input type="hidden" asp-for="ParentExamUrl" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-10 mb-3">
                    <label asp-for="AnswerText" class="form-label" style="font-size: 15px;">Въведете отговор</label>
                    <textarea asp-for="AnswerText" class="form-control profile-edit-input" aria-required="true" placeholder="" rows="1"></textarea>
                    <span asp-validation-for="AnswerText" class="text-danger"></span>
                </div>

                <div class="col-md-2 mb-3">
                    <label asp-for="IsCorrect" class="form-label" style="font-size: 15px;">Правилен?</label>
                    <select asp-for="IsCorrect" type="number" class="form-control profile-edit-input" aria-required="true" placeholder="">
                        <option value="true">Да</option>
                        <option value="false">Не</option>
                    </select>
                    <span asp-validation-for="IsCorrect" class="text-danger"></span>
                </div>

                <div class="col-6 mt-4">
                    <a href="/Exam/Preview/@Model.ParentExamUrl/Open" class="btn btn-primary button-create-test m-0 p-3 w-100">Върни ме назад</a>
                </div>
                <div class="col-6 mt-4">
                    <button type="submit" class="btn btn-primary button-create-user m-0 p-3 w-100">Добави отговора</button>
                    <div id="userEditedNotification" class="user-edited-notification">Добавяне...</div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {

}

