@model LoginFormModel

@{
    ViewData["Title"] = "Влез";
}
<div class="home-container">
    <div class="left-home-box">
        <a asp-controller="Home" asp-action="Index">
            <img class="home-logo" src="~/lib/welcome-logo-transparent.png" alt="Daskata - Добре дошли">
        </a>
    </div>
    <div class="right-home-box">
        <div class="login-container">
            <form id="account" method="post" asp-controller="User" asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="user******" />
                    <label asp-for="UserName" class="form-label">Потребителско име</label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Password" class="form-label">Парола</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="button-login">Влез</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
