@using static Daskata.Core.Shared.Methods
@model List<string>

@{
    ViewData["Title"] = "Създаване на изпит";
}

<div class="home-container-column mt-5">
    <h2 class="mt-4 text-center">Стъпка 1/3 : Избери предмет</h2>
    <div class="row">
        <form asp-controller="Exam" asp-action="Grade" method="post">
            <div class="exam-preview">
                <div class="form-group">
                    <div class="row justify-content-center">
                        @foreach (var subject in Model)
                        {
                            if (subject != null && subject != "Undefied")
                            {
                                <div class="col">
                                    <button type="button" class="btn btn-primary button-create-test subject-button m-2" data-value="@subject">@TranslateExamSubjectInBG(subject)</button>
                                </div>
                            }
                        }
                    </div>
                </div>
                <input type="hidden" id="subjectInput" name="subject" value="@ViewData["Subject"]" />
            </div>
            <div class="mt-5 text-center">
                <a asp-controller="Exam" asp-action="All" type="submit" class="btn btn-primary button-create-user">Назад</a>
                <button type="submit" class="btn btn-primary button-create-user" id="submitButton">Напред</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/js/hide-next-subject.js"></script>
}
