@model Daskata.Core.ViewModels.CreateExamFormModel

@{
    ViewData["Title"] = "Създаване на изпит";
}

<div class="home-container-column">
    <div class="row">
        <h2 class="page-title mb-5">Създай нов изпит</h2>
        <div class="col-md-12 p-3">
            <form class="row g-3 mt-0" id="editForm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-md-8 mb-3">
                    <label asp-for="Title" class="form-label" style="font-size: 15px;">Заглавие</label>
                    <input asp-for="Title" class="form-control profile-edit-input" aria-required="true" placeholder="" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="col-md-2 mb-3">
                    <label asp-for="Duration" class="form-label" style="font-size: 15px;">Продължителност</label>
                    <input asp-for="Duration" class="form-control profile-edit-input" aria-required="true" placeholder="" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>

                <div class="col-md-2 mb-3">
                    <label asp-for="TotalPoints" class="form-label" style="font-size: 15px;">Брой точки</label>
                    <input asp-for="TotalPoints" class="form-control profile-edit-input" aria-required="true" placeholder="" />
                    <span asp-validation-for="TotalPoints" class="text-danger"></span>
                </div>

                <div class="col-md-12 mb-6">
                    <label asp-for="Description" class="form-label" style="font-size: 15px;">Описание</label>
                    <textarea asp-for="Description" class="form-control profile-edit-input" placeholder=""></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="col-12 mt-4">
                    <button type="submit" class="btn btn-primary button-login">Създай</button>
                    <div id="userEditedNotification" class="user-edited-notification">Създаване...</div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function showNotification() {
            var notification = document.getElementById("userEditedNotification");
            notification.classList.add("show");

            setTimeout(function () {
                notification.classList.remove("show");
            }, 1000);
        }

        var form = document.getElementById("editForm");

        form.addEventListener("submit", function (event) {
            event.preventDefault();

            showNotification();

            setTimeout(function () {
                form.submit();
            }, 1000);
        });
    </script>
}