<ul class="navbar-nav flex-grow-1">
    <li class="nav-item text-center">
        <a class="nav-link text-white header-menu links-header-menu" asp-area="" asp-controller="Home" asp-action="Index">Моята дъска</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white header-menu links-header-menu" asp-area="" asp-controller="Exam" asp-action="Index">Библиотека</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white header-menu links-header-menu" asp-area="" asp-controller="Exam" asp-action="History">История на изпити</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white header-menu links-header-menu" asp-area="" asp-controller="Exam" asp-action="My">Създадени от мен</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Exam" asp-action="Create" class="button-create-test btn btn-primary d-flex justify-content-center align-items-center">Създай тест</a>
    </li>
    <li>
        <a asp-area="" asp-controller="User" asp-action="Register" class="button-create-user btn btn-primary d-flex justify-content-center align-items-center">Нов потребител</a>
    </li>
</ul>