@{
    ViewData["Title"] = "Начало";
}

<div class="home-container exam-container">
        <div class="exam-box">Тест 1</div>
        <div class="exam-box">Тест 2</div>
        <div class="exam-box">Тест 3</div>
        <div class="exam-box">Тест 4</div>
        <div class="exam-box">Тест 5</div>
        <div class="exam-box">Тест 6</div>
        <div class="exam-box">Тест 7</div>
        <div class="exam-box">Тест 8</div>
</div>

