@{
    ViewData["Title"] = "Home";
}

<div class="home-container">
    <div class="left-home-box">
        <img class="home-logo" src="~/lib/welcome-logo-transparent.png" alt="Daskata - Добре дошли">
    </div>
    <div class="right-home-box">
        <div class="login-container">
            <form id="loginForm" method="post">
                <input type="text" name="username" placeholder="Потребителско име" required>
                <input type="password" name="password" placeholder="Парола" required>
                <input id="login-submit" type="submit"  type="submit" value="Влез">
                <a href="#" class="lost-password">Забравена парола?</a>
                <hr />
                <center><input type="button" value="Регистрация" class="button-register"></center>
            </form>
        </div>
    </div>
</div>

