/* This is a built-in CSS*/
html {
    font-size: 15px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(250, 250, 250, 1);
    color: rgba(0, 0, 0, 1);
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

/* This is a custom CSS */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-home-box {
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.right-home-box {
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    padding-left: 120px;
    padding-right: 120px;
}

.login-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
    .home-container {
        flex-direction: column;
        align-items: stretch;
    }

    .left-home-box, .right-home-box {
        flex: none;
        width: 100%;
        padding: 20px;
        margin-top: 30px;
    }

    .right-home-box {
        padding-left: 20px;
    }
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"],
.login-container input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"],
.login-container input[type="button"] {
    background-color: rgba(242, 85, 96, 1);
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

    .login-container input[type="submit"]:hover,
    .login-container input[type="button"]:hover {
        background-color: rgba(231, 77, 88, 1);
    }

.lost-password {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #171717;
}

.button-register {
    background-color: transparent !important;
    border: solid 1px #171717 !important;
    width: 60% !important;
    color: #171717 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

    .button-register:hover {
        background-color: rgb(39, 72, 127) !important;
        color: #fff !important;
    }

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100px;
    background-color: rgba(0, 25, 51, 1);
    margin: 0;
    font-size: 14px;
    color: #fafafa;
}

.home-logo {
    width: 70%;
    max-width: 100%;
}

@media only screen and (max-width: 998px) {
    .home-logo {
        width: 50%;
    }
}

@media only screen and (max-width: 598px) {
    .home-logo {
        width: 50%;
    }
}

.header-logo {
    width: 50%;
}