/* This is a built-in CSS*/
html {
    font-size: 15px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

/* This is a custom CSS */
.home-container-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
}

.left-home-box {
    display: flex;
    flex: 48%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-home-box {
    display: flex;
    flex: 48%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
}

.login-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
    .home-container {
        flex-direction: column;
        align-items: stretch;
    }

    .left-home-box, .right-home-box {
        flex: none;
        width: 100%;
        padding: 20px;
        //margin-top: 30px;
    }

    .right-home-box {
        padding-left: 20px;
    }
}

.link-register {
    display: block;
    text-align: center;
}

.button-connect {
    background-color: transparent;
    border: solid 1px #171717;
    width: 65%;
    color: #171717;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
    text-align: center;
}

    .button-connect:hover {
        background-color: #306590 !important;
        color: #fff !important;
    }

@media only screen and (max-width: 1200px) {
    .button-connect {
        width: 100%;
        border-radius: 10px;
    }
}

.button-login {
    background-color: rgba(242, 85, 96, 1);
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    width: 100%;
}

    .button-login:hover {
        background-color: rgba(231, 77, 88, 1);
    }


.button-create-user {
    background-color: rgba(242, 85, 96, 1);
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    color: #fafafa;
    text-shadow: 1px 1px 1px rgba(23, 23, 23, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 15px;
    margin: 10px;
}

    .button-create-user:hover {
        background-color: #f3646d;
    }

.button-create-test {
    background-color: #366793;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    color: #fafafa;
    text-shadow: 1px 1px 1px rgba(23, 23, 23, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 15px;
    margin: 10px;
}

    .button-create-test:hover {
        background-color: #3f72a0;
    }

.header-menu {
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}

    .header-menu:hover {
        background-color: #224f77;
    }

.links-header-menu {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.profile-menu {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fafafa !important;
    background-color: #327da4 !important;
    margin-bottom: 6px;
    margin-left: 70px;
    margin-right: 70px;
}

    .profile-menu:hover {
        background-color: #224f77 !important;
        color: #fff !important;
    }

.links-profile-menu {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-container {
    background-color: #1f4263;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 80px;
    background-color: #1f4263;
    margin: 0;
    font-size: 14px;
    color: #fafafa;
    font-weight: bold
}

.access-denied-image {
    width: 30%;
    padding-bottom: 50px;
}

.home-logo-register {
    width: 85%;
}

.home-logo-login {
    width: 85%;
}

@media only screen and (max-width: 998px) {
    .home-logo {
        width: 50%;
    }
}

@media only screen and (max-width: 598px) {
    .home-logo {
        width: 50%;
    }
}

.header-logo {
    width: 100%;
}

@media only screen and (max-width: 598px) {
    .header-logo {
        width: 80%;
    }
}

/* CSS used in the exam box */
.exam-box {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #ffffff, #f8fcff);
    box-shadow: 0 0px 6px rgba(54, 103, 147, 0.2);
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
}

    .exam-box:hover {
        box-shadow: 0 0 8px rgba(54, 103, 147, 0.3)
    }

.exam-box-inner {
    display: flex;
}

.exam-box-sub {
    width: auto;
}

.exam-title {
    font-size: 20px;
    color: #1f4263;
    max-width: 260px;
}

.exam-description {
    font-size: 15px;
    color: #1f4263;
    max-width: 260px;
}

.exam-sub-text {
    font-size: 12px;
    color: #224f77;
    padding-right: 15px;
}

.exam-status {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

    .exam-status.active {
        background-color: rgba(11, 161, 46, 1);
    }

    .exam-status.non-active {
        background-color: rgba(242, 85, 96, 1);
    }

/* Home profile drop-down menu */
.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fafafa;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #142a3f;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 20px;
    color: #fafafa;
    margin-top: 5px;
    right: 10px;
    text-align: center;
    box-sizing: border-box;
    min-width: 300px;
    width: 100%;
}

    .dropdown-content a {
        color: #fafafa;
        padding: 5px 15px;
        text-decoration: none;
        display: block;
        font-size: 16px;
        font-weight: 300;
    }

        .dropdown-content a:hover {
            background-color: #1b4061;
        }

.profile-pic {
    width: 60px;
    border-radius: 50%;
    margin-right: 30px;
}

@media only screen and (max-width: 1000px) {
    .profile-pic {
        width: 50px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .profile-pic {
        margin-right: 10px;
    }
}

.profile-pic-edit {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    max-width: 100%;
}

@media only screen and (max-width: 767px) {
    .profile-pic-edit {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 1200px) {
    .profile-pic-edit {
        width: 150px;
        height: 150px;
    }
}

span.profile-names {
    font-size: 20px;
    font-weight: bold;
}

span.profile-username {
    font-size: 18px;
    font-weight: bold;
}

span.profile-role {
    font-size: 14px !important;
    font-weight: 200 !important;
}

span.validation-labels {
    color: #fe5963;
    font-size: 13px;
}

/* Profile pages custom css */
.profile-container-cover {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-image: url('/lib/cover-book.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.9);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 200px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
    .profile-container-info {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px;
    }
}

span.profile-acc-name {
    font-size: 32px;
    color: #010101;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    span.profile-acc-name {
        font-size: 26px;
    }
}

span.profile-acc-username {
    font-size: 16px;
    color: #010101;
    font-weight: bold;
}

span.profile-acc-info {
    font-size: 14px;
    color: #1b4061;
}

div.profile-box {
    color: #1b4061;
    font-size: 12px;
    font-weight: 600;
}

.profile-edit-input {
    background-color: #f8fcff;
    color: #171717;
    padding: 15px;
    border-color: #d8def8;
    border-radius: 5px;
}

/* CSS used for the notification */
.user-edited-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b4061;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show {
    opacity: 1;
}

.page-title {
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #171717;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .page-title {
        font-size: 24px;
        text-align: center;
    }
}

.navbar-brand {
    padding: 0;
    margin: 0;
    max-width: 200px;
}

@media only screen and (max-width: 1399px) {
    .login-partial-mobile {
        display: block;
    }

    .login-partial-desktop {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .login-partial-mobile {
        display: none;
    }

    .login-partial-desktop {
        display: block;
    }
}

.navbar-toggler {
    border: none;
    background-color: #fafafa;
    color: rgba(242, 85, 96, 1);
    border-radius: 5px;
    font-weight: bold;
}

.mob-responsive {
    margin-right: 25px;
}

@media only screen and (max-width: 380px) {
    .mob-responsive {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 772px) {
    .row {
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .profile-button-resp-mobile {
        display: block;
    }

    .profile-button-resp-desktop {
        display: none;
    }
}

@media (min-width: 1201px) {
    .profile-button-resp-desktop {
        display: block;
    }

    .profile-button-resp-mobile {
        display: none;
    }
}

.dropdown-item {
    color: #fafafa !important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
}

.dropdown-menu {
    background-color: #1f4263;
    border: 0;
    font-size: 16px;
    min-width: 180px;
    
}
    .dropdown-menu a:hover {
        background-color: #224f77;
    }


@media only screen and (max-width: 1400px) {
    .dropdown-menu {
        padding-left: 20px;
    }
        .dropdown-menu a:hover {
            background-color: #1f4263;
        }
}

.profile-name-resp {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .profile-name-resp {
        width: 66.66%;
    }
}


