@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="home-container">
    <div class="left-home-box">
        <a asp-controller="Home" asp-action="Index">
            <img class="home-logo" src="~/lib/welcome-logo-transparent.png" alt="Daskata - Добре дошли">
        </a>
    </div>
    <div class="right-home-box">
        <div class="login-container">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Парола</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="button-login">Влез</button>
                </div>
                <div>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="lost-password">Забравена парола?</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
