<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-white header-menu links-header-menu" asp-area="" asp-controller="Home" asp-action="Index">Моята дъска</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white header-menu links-header-menu" asp-area="" asp-controller="Home" asp-action="Index">Библиотека</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white header-menu links-header-menu" asp-area="" asp-controller="Exam" asp-action="History">История на изпити</a>
    </li>
</ul>