<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Открийте нашето ново образователно приложение! Това е иновативна платформа, предназначена за учители, която предлага лесен начин за създаване и управление на тестове за ученици. Променете начина, по който оценявате успеха на учениците си!">
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <meta property="og:locale" content="bg_BG" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Daskata.eu" />
    <meta property="og:description" content="Открийте нашето ново образователно приложение! Това е иновативна платформа, предназначена за учители, която предлага лесен начин за създаване и управление на тестове за ученици. Променете начина, по който оценявате успеха на учениците си!" />
    <meta property="og:url" content="https://daskata.eu/" />
    <meta property="og:site_name" content="Daskata" />
    <meta property="og:image" content="/lib/daskata-image.jpg" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>@ViewData["Title"] - Daskata</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Daskata.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="/lib/fav.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/lib/apple-touch.png">
    <link rel="canonical" href="https://daskata.eu/" />
</head>

<body>
    <header>
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <nav class="navbar navbar-expand-xxl navbar-toggleable-xs header-container box-shadow pb-3 pt-3">
                <div class="container-fluid">

                    <div class="d-flex align-items-center">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img class="header-logo" src="~/lib/logo-header-shadow.png" alt="Daskata">
                        </a>
                    </div>

                    <div class="d-flex align-items-center">
                        <button class="navbar-toggler d-xxl-none mob-responsive" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <partial name="_ToggleButtonSVGPartial" />
                            </span>
                        </button>
                        <div class="login-partial-mobile">
                            <partial name="_LoginPartialMobile" />
                        </div>
                   </div>

                    <div class="navbar-collapse collapse" id="navbarCollapse">
                        <ul class="navbar-nav mx-auto mb-sm-0">
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Teacher"))
                            {
                                @await Component.InvokeAsync(nameof(HeaderAdminMenuComponent))
                            }
                            else
                            {
                                @await Component.InvokeAsync(nameof(HeaderStudentMenuComponent))
                            }
                        </ul>
                    </div>

                    <div class="login-partial-desktop">
                        <partial name="_LoginPartialDesktop" />
                    </div>

                </div>
            </nav>
        }
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-container">
            &copy; @DateTime.Now.Year - Daskata
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
