@using Daskata.Infrastructure.Data
@using Microsoft.AspNetCore.Identity
@using Daskata.Infrastructure.Data.Models
@using Microsoft.EntityFrameworkCore
@inject SignInManager<UserProfile> SignInManager
@inject UserManager<UserProfile> UserManager
@inject DaskataDbContext _context

<div id="header">
    <div id="weather"></div>
</div>
<div class="navbar-nav">
    <div class="dropdown">
        <button class="dropbtn" id="profile-picture">
            <img class="profile-pic" src="~/lib/default-profile-picture.png" alt="Профил">
        </button>

        @{
            var user = await UserManager.GetUserAsync(User);
            var email = await UserManager.GetEmailAsync(user!);

            var userProfile = await _context.UserProfiles.FirstOrDefaultAsync();
            string firstName = string.IsNullOrEmpty(userProfile?.FirstName) ? "Име" : userProfile.FirstName;
            string lastName = string.IsNullOrEmpty(userProfile?.LastName) ? "Фамилия" : userProfile.LastName;
        }

        <div class="dropdown-content" id="dropdown-menu">
            <span class="profile-username">@@@user</span> <br />
            <span class="profile-names">@firstName @lastName</span><br />
            <span class="profile-email">@email</span> <hr />
            <a asp-area="Identity" asp-page="/Account/Manage/Index">Моят профил</a>
            <a href="#">Преминати тестове</a>
            <a href="#">Предстоящи изпити</a>
            <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Изход</a>
        </div>
    </div>
</div>

<script>
//Profile menu dropdown
document.addEventListener("DOMContentLoaded", function () {
    var profilePicture = document.getElementById("profile-picture");
    var dropdownMenu = document.getElementById("dropdown-menu");

    profilePicture.addEventListener("click", function (event) {
        event.stopPropagation();
        dropdownMenu.classList.toggle("show");
    });

    window.addEventListener("click", function (event) {
        if (!event.target.matches('#profile-picture')) {
            dropdownMenu.classList.remove("show");
        }
    });
});
</script>


<script>
//Weather AJAX and API
$(document).ready(function () {
    var apiKey = 'API-код-като-си-взема-абонамент';
    var location = 'Sofia';

    $.ajax({
        url: 'https://api.openweathermap.org/data/2.5/weather',
        type: 'GET',
        data: {
            q: location,
            appid: apiKey,
            units: 'metric'
        },
        success: function (response) {
            var temperature = response.main.temp;
            var condition = response.weather[0].main;

            $('#weather').text('Temperature: ' + temperature + '°C, Condition: ' + condition);
        },
        error: function (xhr, status, error) {
            console.error('Failed to fetch weather data:', error);
        }
    })
});
</script>