@using Daskata.Infrastructure.Data
@using Microsoft.AspNetCore.Identity
@using Daskata.Infrastructure.Data.Models
@using Microsoft.EntityFrameworkCore
@inject SignInManager<UserProfile> _signInManager
@inject UserManager<UserProfile> _userManager
@inject DaskataDbContext _context

@{
    var loggedUser = await _userManager.GetUserAsync(User);
    var userRolesNames = await _userManager.GetRolesAsync(loggedUser!);
    var loggedUserId = loggedUser?.Id.ToString();

    var roleName = userRolesNames.FirstOrDefault() ?? "None";

    var userFirstName = loggedUser?.FirstName ?? "Име";
    var userLastName = loggedUser?.LastName ?? "Фамилия";
}

<div id="header">
    <div id="weather"></div>
</div>
<div class="navbar-nav">
    <div class="dropdown">
        <button class="dropbtn" id="profile-picture-mobile">
            <img class="profile-pic" src="@loggedUser!.ProfilePictureUrl" alt="Профил">
        </button>
        <div class="dropdown-content" id="dropdown-menu-mobile">
            <span class="profile-username">@@@loggedUser</span> <br />
            <span class="profile-names">@userFirstName @userLastName</span><br />

            @{
                if (roleName == "Admin")
                {
                    <span class="profile-role">⭐⭐⭐⭐ Вие сте админ!</span> <hr />
                }
                else if (roleName == "Manager")
                {
                    <span class="profile-role">⭐⭐⭐ Вие сте мениджър!</span> <hr />
                }
                else if (roleName == "Teacher")
                {
                    <span class="profile-role">⭐⭐ Вие сте учител!</span> <hr />
                }
                else if (roleName == "Student")
                {
                    <span class="profile-role">⭐ Вие сте ученик!</span> <hr />
                }
                else if (roleName == "None")
                {
                    <span class="profile-role">❌ Вие нямате зададена роля</span> <hr />
                }
            }

            <a asp-controller="Profile" asp-action="Index">Моят профил</a>
            <a href="#">Съобщения</a>
            <a href="#">Регистрър</a>
            <a asp-controller="User" asp-action="Logout" id="logoutLinkMobile">Изход</a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var profilePictureMobile = document.getElementById("profile-picture-mobile");
        var dropdownMenuMobile = document.getElementById("dropdown-menu-mobile");

        profilePictureMobile.addEventListener("click", function () {
            if (dropdownMenuMobile.style.display === "none" || dropdownMenuMobile.style.display === "") {
                dropdownMenuMobile.style.display = "block";
            } else {
                dropdownMenuMobile.style.display = "none";
            }
        });
    });
</script>

<script>
    //Logout confirm
    document.addEventListener("DOMContentLoaded", function () {
        var logoutButtonMobile = document.getElementById("logoutLinkMobile");

        logoutButtonMobile.addEventListener("click", function () {
            alert("Ще излезете от профила си!");
        });
    });
</script>