@model Daskata.Core.ViewModels.ChangePasswordModel

@{
    ViewData["Title"] = "Моите данни";
}

<div class="home-container-column">
    <div class="row">
        <div class="col-md-4 text-md-center mt-4">
            <label for="profilePicture" style="cursor: pointer;">
                <img id="profileImage" src="@Model.ProfilePictureUrl" class="profile-pic-edit" alt="Снимка на профила" />
                <input type="file" id="profilePicture" style="display: none;" accept="image/*" />
            </label>
            <div class="mt-4">
                <a class="nav-link profile-menu links-profile-menu" asp-area="" asp-controller="Profile" asp-action="Edit">Редакция на профил</a>
                <a class="nav-link profile-menu links-profile-menu" asp-area="" asp-controller="Profile" asp-action="PersonalData">Лични данни</a>
            </div>
        </div>
        <div class="col-md-8">
            <p class="row g-3 mt-5">Here will be the text! Here will be the text! Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!</p>
            <p class="row g-3 mt-5">Here will be the text! Here will be the text! Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!Here will be the text!</p>
            <button type="submit" class="btn btn-primary button-login mt-5">Изпрати</button>
            <div id="userEditedNotification" class="user-edited-notification">Изпращане...</div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/post-notification.js"></script>
}